---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" description="necofuryai's CV" sideBarActiveItemID="cv" ogType="website">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a seasoned software engineer with 7+ years of experience building scalable backend systems, cloud-native applications, and data pipelines. 
    I have a proven track record in designing and implementing reliable, scalable, and cost-efficient systems across domains such as connected vehicles (BEV), IoT, and analytics.
    Proficient in Golang, Python, Java, and AWS, with a strong focus on API design, cloud infrastructure, and performance tuning.
    I value clean code, thoughtful design, and cross-team collaboration. Always learning, always shipping.
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
  </div> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer"
      subtitle="From Jul 2024 to Now at Automobile company, Japan"
    >
      - Led the backend development in Golang for a critical internal system enabling flexible, on-demand real-time telemetry data collection from connected cars through executable Lua scripts.<br/>
      - Engineered a resilient architecture integrating Go microservices, MQTT messaging, and a TimescaleDB backend to provide reliable data streams for ~1000 internal users.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="From Apr 2022 to Jun 2024 at Telecom carrier, Japan"
    >
      - Developed all components of a data integration platform using Agile methodology and Large-Scale Scrum, completing the project within six months.<br/>
      - Designed and implemented both backend and frontend of a data catalog application for collecting information from connected cars.<br/>
      - Created a data connector to integrate IoT data using Apache Camel, and developed a data pipeline leveraging Kafka.<br/>
      - Built a 5G core network on AWS EC2, reducing the development schedule by six months.
    </TimeLineElement>
    <TimeLineElement
      title="Security Engineer"
      subtitle="From Jul 2021 to Mar 2022 at Telecom carrier, Japan"
    >
      - Worked at Security Operation Center.<br/>
      - Led an interdepartmental project to upgrade 42 Splunk components in a single day, developing and executing the implementation plan.<br/>
      - Led a project to automate server setup and security patch application using Ansible, promoting CI/CD practices.
    </TimeLineElement>
    <TimeLineElement
      title="Corporate System Engineer(File Transfer system)"
      subtitle="From Oct 2019 to Jun 2021 at Telecom carrier, Japan"
    >
      - Implemented and maintained a File Transfer system.<br/>
      - Automated personal information checks within files using Python within the first four months, enabling a smooth system transition and supporting growth to 30,000 monthly active users.<br/>
      - Consolidated multiple file transfer systems into a single solution, reducing capital expenditure by approximately USD 3.66 million (JPY 550.5 million) and operating expenses by approximately USD 0.28 million (JPY 41.4 million) annually.<br/>
      - Optimized LDAP server queries, reducing server load and completely eliminating recurring monthly system outages.<br/>
      - Mentored junior developers, enhancing team productivity and fostering a culture of knowledge-sharing.
    </TimeLineElement>
    <TimeLineElement
      title="Corporate System Engineer(New Graduate)"
      subtitle="From Apr 2018 to Sep 2019 at Telecom carrier, Japan"
    >
      - Implemented and operated a Mobile Device Management (MDM) system.<br/>
      - Migrated the MDM system from cloud infrastructure to an on-premises environment, significantly reducing cloud-related expenses.
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Golang</li>
    <li>Lua</li>
    <li>Python</li>
    <li>TypeScript</li>
    <li>PostgreSQL</li>
    <li>TimescaleDB</li>
    <li>RDS</li>
    <li>ECS</li>
    <li>React</li>
    <li>Kafka</li>
    <li>MQTT</li>
    <li>Terraform</li>
    <li>TDD</li>
    <li>agile/scrum</li>
    <li>AWS</li>
  </ul>
</BaseLayout>