---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    After obtaining a Master's degree in Engineering, I worked on internal system development using OSS for six years. 
    Currently, as a software engineer, I am developing data catalog applications and data pipelines for IoT devices using Agile methodologies.
    Specialize in backend development and looking to leverage my expertise in a fast-paced, growth-oriented environment.
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
  </div> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer"
      subtitle="From Apr 2022 to Now at Telecom carrier, Tokyo, Japan"
    >
      - Developed all components of the data integration platform using Agile development through Large-Scale Scrum, within six months.<br/>
      - Developed both the backend and frontend of a data catalog application that collects information from connected cars.<br/>
      - Developed a data connector for integrating IoT data using Apache Camel, and built a data pipeline with Kafka.<br/>
      - By building a 5G core network on AWS EC2, I was able to shorten the development schedule by six months.
    </TimeLineElement>
    <TimeLineElement
      title="Security Engineer"
      subtitle="From Jul 2021 to Mar 2022 at Telecom carrier, Tokyo, Japan"
    >
      - Security Engineer at SoftBank Security Operation Center.<br/>
      - Led an interdepartmental project that upgraded 42 Splunk components in a single day, and I developed the implementation plan.<br/>
      - Led a project that automated server setup and the application of security patches using Ansible, promoting CI/CD practices.
    </TimeLineElement>
    <TimeLineElement
      title="Corporate System Engineer"
      subtitle="From Oct 2019 to Jun 2021 at Telecom carrier, Tokyo, Japan"
    >
      - Developed and operated a File Transfer system.<br/>
      - Within the first four months, I automated the checking of personal information contained in files using Python, contributing to a smooth system transition and the achievement of 30,000 monthly active users.<br/>
      - By consolidating multiple existing file transfer systems into one, we reduced CAPEX by approximately USD 3.66 million (JPY 550.5 million) and OPEX by approximately USD 0.28 million (JPY 41.4 million) per year.<br/>
      - By improving the queries to the LDAP server, we reduced its load and eliminated the multiple system outages that were occurring monthly, bringing them down to zero.<br/>
      - Mentored junior developers, increasing team productivity and knowledge-sharing.
    </TimeLineElement>
    <TimeLineElement
      title="Corporate System Engineer"
      subtitle="From Apr 2018 to Sep 2019 at Telecom carrier, Tokyo, Japan"
    >
      - Developed and operated a Mobile Device Management system.<br/>
      - Migrated the Mobile Device Management system from the cloud to on-premises, significantly reducing cloud expenses.
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Golang</li>
    <li>Java</li>
    <li>Python</li>
    <li>TypeScript</li>
    <li>PostgreSQL</li>
    <li>Cassandra</li>
    <li>RDS</li>
    <li>Spring</li>
    <li>React</li>
    <li>Kafka</li>
    <li>Camel</li>
    <li>Terraform</li>
    <li>TDD</li>
    <li>agile/scrum</li>
    <li>AWS</li>
  </ul>
</BaseLayout>