---
import BaseLayout from "../layouts/BaseLayout.astro";
// import HorizontalCard from "../components/HorizontalCard.astro";
// import { getCollection } from "astro:content";
---

<BaseLayout sideBarActiveItemID="home" ogType="website">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm necofuryai</div>
    <div class="text-3xl py-3 font-bold">Software Engineer at Tokyo</div>
    <div class="py-2">
      <text class="text-lg">
        I work as a software engineer, developing infrastructure to collect data from BEVs. I like Sci-Fi, action movies, Anime and good American music.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://x.com/necofuryai" target="_blank"> Let's connect!</a>
    </div>
  </div>
</BaseLayout>
