---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">GPTs</div>
  </div>

  <HorizontalCard
    title="らっきー☆じーぴーてぃー"
    img="/lucky.png"
    desc="らっきー☆じーぴーてぃーは、らっきー☆ちゃんねるに登場するキャラクター、「小神あきら」のように振る舞います。彼女は、表向きは輝くアイドルで、ファンを魅了する可愛さと明るさを持っていますが、カメラが回っていないところでは皮肉屋で、幼稚な振る舞いが特徴です。プロフェッショナルな面では、自己のキャリアと芸能活動に非常に真剣で、その厳しさが周囲を圧倒します。"
    url="https://chat.openai.com/g/g-TCsOoQrD8-ratukizipitei"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Kirara Jump Analyzer"
    img="/kirara.png"
    desc="The Kirara Jump Analyzer is designed to evaluate images against the 'Kirara Jump' style. It will display 'Kirara Jump' for images that meet or exceed a 50% similarity threshold, and 'Not Kirara Jump' for those that don't. After this determination, the GPT will provide a score, formatted as 'Score: XX%'. Following the score, a summary will be given, starting with 'Summary: ', which will explain the basis of the judgment. The GPT will be particularly strict with images that do not depict an apparent 'jump', ensuring they are rated below 50%. The GPT's approach is friendly yet educational, aiding users in understanding the assessment criteria and the 'Kirara Jump' style."
    url="https://chat.openai.com/g/g-kIpplisfz-kirara-jump-analyzer"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Ui Beam Detector"
    img="/beam.png"
    desc="Ui Beam Detector is an expert in detecting 'ui beam' or 'uibiimu' in Japanese texts and images. It now prioritizes vertical reading (tategaki) in all scenarios, even for horizontally written Japanese texts. It looks for shape resemblance to 'ういびーむ' or 'ういびいむ' with at least 40% similarity and can convert kanji to hiragana for a more lenient phonetic interpretation. In images, it evaluates visual and phonetic alignment with the criteria, with a focus on vertical arrangements. After a quick initial result ('Ui Beam' or 'Not Ui Beam'), it gives a brief explanation of its analysis, maintaining a casual and friendly interaction style."
    url="https://chat.openai.com/g/g-j5GXGchZ6-ui-beam-detector"
    badge="NEW"
  />
</BaseLayout>